In [173]:
import pandas as pd
pd.__version__

'1.0.3'

In [332]:
import numpy as np

In [338]:
#STEP 1 Read in CSV - Cory Joseph
joseph_df = pd.read_csv("Reg_Cory_Joseph_2016-2017.csv")

# STEP 2 - Delete unwanted columns
joseph_df = joseph_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
joseph_df = joseph_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
joseph_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
joseph_df['Date2'] = joseph_df['Date'].shift(+1)
joseph_df['Time Rested'] = (joseph_df['Date'] - joseph_df['Date2']).dt.days
joseph_df = joseph_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
joseph_df['Name'] = "Corey Joseph"

joseph_df

,ID Key,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1,1.0,2016-10-26,25-067,NaN,DET,W (+18),0,0.0,0.0,NaN,NaN,Corey Joseph
1,2,2,2.0,2016-10-28,25-069,NaN,CLE,L (-3),0,0.0,0.0,NaN,2.0,Corey Joseph
2,3,3,3.0,2016-10-31,25-072,NaN,DEN,W (+3),0,0.0,1.0,0.000,3.0,Corey Joseph
3,4,4,4.0,2016-11-02,25-074,@,WAS,W (+10),0,0.0,1.0,0.000,2.0,Corey Joseph
4,5,5,5.0,2016-11-04,25-076,NaN,MIA,W (+9),0,0.0,2.0,0.000,2.0,Corey Joseph
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,88,6,6.0,2017-04-27,25-250,@,MIL,W (+3),0,1.0,2.0,0.500,3.0,Corey Joseph
88,89,7,7.0,2017-05-01,25-254,@,CLE,L (-11),0,0.0,1.0,0.000,4.0,Corey Joseph
89,90,8,8.0,2017-05-03,25-256,@,CLE,L (-22),0,2.0,3.0,0.667,2.0,Corey Joseph
90,91,9,9.0,2017-05-05,25-258,NaN,CLE,L (-21),1,0.0,4.0,0.000,2.0,Corey Joseph
91,92,10,10.0,2017-05-07,25-260,NaN,CLE,L (-7),1,1.0,1.0,1.000,2.0,Corey Joseph

In [346]:
# STEP 1 - Read in CSV - DeMarre Carroll  
carroll_df=pd.read_csv("Reg_DeMarre_Carroll_2016-2017.csv")

# STEP 2 - Delete unwanted columns
carroll_df = carroll_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
carroll_df = carroll_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
carroll_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
carroll_df['Date2'] = carroll_df['Date'].shift(+1)
carroll_df['Time Rested'] = (carroll_df['Date'] - carroll_df['Date2']).dt.days
carroll_df = carroll_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
carroll_df['Name'] = "DeMarre Carroll"

carroll_df

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,30-091,NaN,DET,W (+18),1,2.0,6.0,0.333,NaN,DeMarre Carroll
1,2,2.0,2016-10-28,30-093,NaN,CLE,L (-3),1,2.0,4.0,0.500,2.0,DeMarre Carroll
2,3,3.0,2016-10-31,30-096,NaN,DEN,W (+3),1,2.0,5.0,0.400,3.0,DeMarre Carroll
3,4,4.0,2016-11-02,30-098,@,WAS,W (+10),1,1.0,5.0,0.200,2.0,DeMarre Carroll
4,5,5.0,2016-11-04,30-100,NaN,MIA,W (+9),1,0.0,1.0,0.000,2.0,DeMarre Carroll
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,6,6.0,2017-04-27,30-274,@,MIL,W (+3),1,2.0,3.0,0.667,3.0,DeMarre Carroll
88,7,7.0,2017-05-01,30-278,@,CLE,L (-11),1,1.0,1.0,1.000,4.0,DeMarre Carroll
89,8,8.0,2017-05-03,30-280,@,CLE,L (-22),0,0.0,4.0,0.000,2.0,DeMarre Carroll
90,9,9.0,2017-05-05,30-282,NaN,CLE,L (-21),0,0.0,0.0,NaN,2.0,DeMarre Carroll
91,10,10.0,2017-05-07,30-284,NaN,CLE,L (-7),0,0.0,0.0,NaN,2.0,DeMarre Carroll

In [385]:
#STEP 1 Read in CSV - Delon Wright
wright_df = pd.read_csv("Reg_Delon_Wright_2016-2017.csv")

# STEP 2 - Delete unwanted columns
wright_df = wright_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
wright_df = wright_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
wright_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP 4 - Add Player 
wright_df['Name'] = "Delon Wright"

# STEP - 5 Calculating the days rested...
wright_df['Date2'] = wright_df['Date'].shift(+1)
wright_df['Time Rested'] = (wright_df['Date'] - wright_df['Date2']).dt.days
wright_df = wright_df.drop(columns=['Date2'])

wright_df.head()

,ID Key,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Name,Time Rested
0,93,1,NaN,2016-10-26,24-183,NaN,DET,W (+18),Inactive,NaN,NaN,NaN,Delon Wright,NaN
1,94,2,NaN,2016-10-28,24-185,NaN,CLE,L (-3),Inactive,NaN,NaN,NaN,Delon Wright,2.0
2,95,3,NaN,2016-10-31,24-188,NaN,DEN,W (+3),Inactive,NaN,NaN,NaN,Delon Wright,3.0
3,96,4,NaN,2016-11-02,24-190,@,WAS,W (+10),Inactive,NaN,NaN,NaN,Delon Wright,2.0
4,97,5,NaN,2016-11-04,24-192,NaN,MIA,W (+9),Inactive,NaN,NaN,NaN,Delon Wright,2.0

In [349]:
#STEP 1 Read in CSV - DeMar DeRozan
derozan_df = pd.read_csv("Reg_DeMar_DeRozan_2016-2017.csv")

# STEP 2 - Delete unwanted columns
derozan_df = derozan_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
derozan_df = derozan_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
derozan_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
derozan_df['Date2'] = derozan_df['Date'].shift(+1)
derozan_df['Time Rested'] = (derozan_df['Date'] - derozan_df['Date2']).dt.days
derozan_df = derozan_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
derozan_df['Name'] = "DeMar DeRozan"

derozan_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,27-080,NaN,DET,W (+18),1,0.0,2.0,0.0,NaN,DeMar DeRozan
1,2,2.0,2016-10-28,27-082,NaN,CLE,L (-3),1,0.0,1.0,0.0,2.0,DeMar DeRozan
2,3,3.0,2016-10-31,27-085,NaN,DEN,W (+3),1,0.0,1.0,0.0,3.0,DeMar DeRozan
3,4,4.0,2016-11-02,27-087,@,WAS,W (+10),1,1.0,2.0,0.5,2.0,DeMar DeRozan
4,5,5.0,2016-11-04,27-089,NaN,MIA,W (+9),1,0.0,2.0,0.0,2.0,DeMar DeRozan

In [386]:
#STEP 1 Read in CSV - Fred VanVleet
vanvleet_df = pd.read_csv("Reg_Fred_VanVleet_2016-2017.csv")

# STEP 2 - Delete unwanted columns
vanvleet_df = vanvleet_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
vanvleet_df = vanvleet_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
vanvleet_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
vanvleet_df['Date2'] = vanvleet_df['Date'].shift(+1)
vanvleet_df['Time Rested'] = (vanvleet_df['Date'] - vanvleet_df['Date2']).dt.days
vanvleet_df = vanvleet_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
vanvleet_df['Name'] = "Fred VanVleet"

vanvleet_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,NaN,2016-10-26,22-244,NaN,DET,W (+18),Did Not Play,NaN,NaN,NaN,NaN,Fred VanVleet
1,2,NaN,2016-10-28,22-246,NaN,CLE,L (-3),Did Not Play,NaN,NaN,NaN,2.0,Fred VanVleet
2,3,NaN,2016-10-31,22-249,NaN,DEN,W (+3),Did Not Play,NaN,NaN,NaN,3.0,Fred VanVleet
3,4,NaN,2016-11-02,22-251,@,WAS,W (+10),Did Not Play,NaN,NaN,NaN,2.0,Fred VanVleet
4,5,NaN,2016-11-04,22-253,NaN,MIA,W (+9),Did Not Play,NaN,NaN,NaN,2.0,Fred VanVleet

In [387]:
#STEP 1 Read in CSV - Jakob_Poltl
poltl_df = pd.read_csv("Reg_Jakob_Poltl_2016-2017.csv")

# STEP 2 - Delete unwanted columns
poltl_df = poltl_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
poltl_df = poltl_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
poltl_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
poltl_df['Date2'] = poltl_df['Date'].shift(+1)
poltl_df['Time Rested'] = (poltl_df['Date'] - poltl_df['Date2']).dt.days
poltl_df = poltl_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
poltl_df['Name'] = "Jakob Poltl"

poltl_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,21-011,NaN,DET,W (+18),0,0.0,0.0,NaN,NaN,Jakob Poltl
1,2,2.0,2016-10-28,21-013,NaN,CLE,L (-3),0,0.0,0.0,NaN,2.0,Jakob Poltl
2,3,3.0,2016-10-31,21-016,NaN,DEN,W (+3),0,0.0,0.0,NaN,3.0,Jakob Poltl
3,4,4.0,2016-11-02,21-018,@,WAS,W (+10),0,0.0,0.0,NaN,2.0,Jakob Poltl
4,5,5.0,2016-11-04,21-020,NaN,MIA,W (+9),0,0.0,0.0,NaN,2.0,Jakob Poltl

In [355]:
#STEP 1 Read in CSV - Jared Sullinger
sullinger_df = pd.read_csv("Reg_Jared_Sullinger_2016-2017.csv")

# STEP 2 - Delete unwanted columns
sullinger_df = sullinger_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
sullinger_df = sullinger_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
sullinger_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
sullinger_df['Date2'] = sullinger_df['Date'].shift(+1)
sullinger_df['Time Rested'] = (sullinger_df['Date'] - sullinger_df['Date2']).dt.days
sullinger_df = sullinger_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
sullinger_df['Name'] = "Jared Sullinger"

sullinger_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,NaN,2016-10-26,24-236,NaN,DET,W (+18),Inactive,NaN,NaN,NaN,NaN,Jared Sullinger
1,2,NaN,2016-10-28,24-238,NaN,CLE,L (-3),Inactive,NaN,NaN,NaN,2.0,Jared Sullinger
2,3,NaN,2016-10-31,24-241,NaN,DEN,W (+3),Inactive,NaN,NaN,NaN,3.0,Jared Sullinger
3,4,NaN,2016-11-02,24-243,@,WAS,W (+10),Inactive,NaN,NaN,NaN,2.0,Jared Sullinger
4,5,NaN,2016-11-04,24-245,NaN,MIA,W (+9),Inactive,NaN,NaN,NaN,2.0,Jared Sullinger

In [388]:
#STEP 1 Read in CSV - Jonas Valancuinas
valancuinas_df = pd.read_csv("Reg_Jonas_Valanciunas_2016-2017.csv")

# STEP 2 - Delete unwanted columns
valancuinas_df = valancuinas_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
valancuinas_df = valancuinas_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
valancuinas_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
valancuinas_df['Date2'] = valancuinas_df['Date'].shift(+1)
valancuinas_df['Time Rested'] = (valancuinas_df['Date'] - valancuinas_df['Date2']).dt.days
valancuinas_df = valancuinas_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
valancuinas_df['Name'] = "Jonas Valancuinas"

valancuinas_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,24-173,NaN,DET,W (+18),1,0.0,0.0,NaN,NaN,Jonas Valancuinas
1,2,2.0,2016-10-28,24-175,NaN,CLE,L (-3),1,0.0,0.0,NaN,2.0,Jonas Valancuinas
2,3,3.0,2016-10-31,24-178,NaN,DEN,W (+3),1,0.0,0.0,NaN,3.0,Jonas Valancuinas
3,4,4.0,2016-11-02,24-180,@,WAS,W (+10),1,0.0,0.0,NaN,2.0,Jonas Valancuinas
4,5,5.0,2016-11-04,24-182,NaN,MIA,W (+9),1,0.0,0.0,NaN,2.0,Jonas Valancuinas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,6,6.0,2017-04-27,24-356,@,MIL,W (+3),0,0.0,0.0,NaN,3.0,Jonas Valancuinas
88,7,7.0,2017-05-01,24-360,@,CLE,L (-11),1,0.0,0.0,NaN,4.0,Jonas Valancuinas
89,8,8.0,2017-05-03,24-362,@,CLE,L (-22),0,0.0,0.0,NaN,2.0,Jonas Valancuinas
90,9,9.0,2017-05-05,24-364,NaN,CLE,L (-21),1,0.0,0.0,NaN,2.0,Jonas Valancuinas
91,10,10.0,2017-05-07,25-001,NaN,CLE,L (-7),1,0.0,1.0,0.0,2.0,Jonas Valancuinas

In [389]:
#STEP 1 Read in CSv - Kyle Lowry
lowry_df = pd.read_csv("Reg_Kyle_Lowry_2016-2017.csv")

# STEP 2 - Delete unwanted columns
lowry_df = lowry_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headingss
lowry_df = lowry_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
lowry_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
lowry_df['Date2'] = lowry_df['Date'].shift(+1)
lowry_df['Time Rested'] = (lowry_df['Date'] - lowry_df['Date2']).dt.days
lowry_df = lowry_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
lowry_df['Name'] = "Kyle Lowry"

lowry_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,30-215,NaN,DET,W (+18),1,1.0,5.0,0.20,NaN,Kyle Lowry
1,2,2.0,2016-10-28,30-217,NaN,CLE,L (-3),1,1.0,5.0,0.20,2.0,Kyle Lowry
2,3,3.0,2016-10-31,30-220,NaN,DEN,W (+3),1,1.0,5.0,0.20,3.0,Kyle Lowry
3,4,4.0,2016-11-02,30-222,@,WAS,W (+10),1,3.0,6.0,0.50,2.0,Kyle Lowry
4,5,5.0,2016-11-04,30-224,NaN,MIA,W (+9),1,2.0,8.0,0.25,2.0,Kyle Lowry

In [364]:
#STEP 1 Read in CSV
nogueira_df = pd.read_csv("Reg_Lucas_Nogueira_2016-2017.csv")

# STEP 2 - Delete unwanted columns
nogueira_df = nogueira_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
nogueira_df = nogueira_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
nogueira_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
nogueira_df['Date2'] = nogueira_df['Date'].shift(+1)
nogueira_df['Time Rested'] = (nogueira_df['Date'] - nogueira_df['Date2']).dt.days
nogueira_df = nogueira_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
nogueira_df['Name'] = "Lucas Nogueira"

nogueira_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,NaN,2016-10-26,24-092,NaN,DET,W (+18),Did Not Dress,NaN,NaN,NaN,NaN,Lucas Nogueira
1,2,NaN,2016-10-28,24-094,NaN,CLE,L (-3),Did Not Dress,NaN,NaN,NaN,2.0,Lucas Nogueira
2,3,NaN,2016-10-31,24-097,NaN,DEN,W (+3),Did Not Dress,NaN,NaN,NaN,3.0,Lucas Nogueira
3,4,NaN,2016-11-02,24-099,@,WAS,W (+10),Did Not Play,NaN,NaN,NaN,2.0,Lucas Nogueira
4,5,NaN,2016-11-04,24-101,NaN,MIA,W (+9),Did Not Play,NaN,NaN,NaN,2.0,Lucas Nogueira

In [369]:
#STEP 1 Read in CSV - Norman Powell
powell_df = pd.read_csv("Reg_Norman_Powell_2016-2017.csv")

# STEP 2 - Delete unwanted columns
powell_df = powell_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
powell_df = powell_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
powell_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
powell_df['Date2'] = powell_df['Date'].shift(+1)
powell_df['Time Rested'] = (powell_df['Date'] - powell_df['Date2']).dt.days
powell_df = powell_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
powell_df['Name'] = "Norman Powell"

powell_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,23-154,NaN,DET,W (+18),0,0.0,2.0,0.0,NaN,Norman Powell
1,2,NaN,2016-10-28,23-156,NaN,CLE,L (-3),Did Not Play,NaN,NaN,NaN,2.0,Norman Powell
2,3,2.0,2016-10-31,23-159,NaN,DEN,W (+3),0,0.0,0.0,NaN,3.0,Norman Powell
3,4,3.0,2016-11-02,23-161,@,WAS,W (+10),0,1.0,2.0,0.5,2.0,Norman Powell
4,5,4.0,2016-11-04,23-163,NaN,MIA,W (+9),0,1.0,1.0,1.0,2.0,Norman Powell

In [378]:
#Step 1 Read CSV 
siakam_df = pd.read_csv("Reg_Pascal_Siakam_2016-2017.csv")

# STEP 2 - Delete unwanted columns
siakam_df = siakam_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# STEP 3 - Convert Date to pandas Datetime format
siakam_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
siakam_df['Date2'] = siakam_df['Date'].shift(+1)
siakam_df['Time Rested'] = (siakam_df['Date'] - siakam_df['Date2']).dt.days
siakam_df = siakam_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
siakam_df['Name'] = "Pascal Siakam"

siakam_df.head()

,Rk,G,Date,Age,,Opp,.1,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,22-207,NaN,DET,W (+18),1,0.0,0.0,NaN,NaN,Pascal Siakam
1,2,2.0,2016-10-28,22-209,NaN,CLE,L (-3),1,0.0,0.0,NaN,2.0,Pascal Siakam
2,3,3.0,2016-10-31,22-212,NaN,DEN,W (+3),1,0.0,0.0,NaN,3.0,Pascal Siakam
3,4,4.0,2016-11-02,22-214,@,WAS,W (+10),1,0.0,0.0,NaN,2.0,Pascal Siakam
4,5,5.0,2016-11-04,22-216,NaN,MIA,W (+9),1,0.0,0.0,NaN,2.0,Pascal Siakam

In [379]:
#STEP 1 Read in CSV - Patrick Patterson
patterson_df = pd.read_csv("Reg_Patrick_Patterson_2016-2017.csv")

# STEP 2 - Delete unwanted columns
patterson_df = patterson_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
patterson_df = patterson_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
patterson_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
patterson_df['Date2'] = patterson_df['Date'].shift(+1)
patterson_df['Time Rested'] = (patterson_df['Date'] - patterson_df['Date2']).dt.days
patterson_df = patterson_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
patterson_df['Name'] = "Patrick Patterson"

patterson_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,27-226,NaN,DET,W (+18),0,0.0,2.0,0.000,NaN,Patrick Patterson
1,2,2.0,2016-10-28,27-228,NaN,CLE,L (-3),0,1.0,5.0,0.200,2.0,Patrick Patterson
2,3,3.0,2016-10-31,27-231,NaN,DEN,W (+3),0,0.0,1.0,0.000,3.0,Patrick Patterson
3,4,4.0,2016-11-02,27-233,@,WAS,W (+10),0,2.0,6.0,0.333,2.0,Patrick Patterson
4,5,5.0,2016-11-04,27-235,NaN,MIA,W (+9),0,0.0,4.0,0.000,2.0,Patrick Patterson

In [381]:
#STEP 1 Read in CSV - PJ Tucker
tucker_df = pd.read_csv("Reg_PJ_Tucker_2016-2017.csv")

# STEP 2 - Delete unwanted columns
tucker_df = tucker_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
tucker_df = tucker_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
tucker_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
tucker_df['Date2'] = tucker_df['Date'].shift(+1)
tucker_df['Time Rested'] = (tucker_df['Date'] - tucker_df['Date2']).dt.days
tucker_df = tucker_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
tucker_df['Name'] = "PJ Tucker"

tucker_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,31-174,NaN,SAC,L (-19),0,0.0,0.0,NaN,NaN,PJ Tucker
1,2,2.0,2016-10-28,31-176,@,OKC,L (-3),0,0.0,1.0,0.0,2.0,PJ Tucker
2,3,3.0,2016-10-31,31-178,NaN,GSW,L (-6),0,0.0,1.0,0.0,3.0,PJ Tucker
3,4,4.0,2016-11-02,31-179,@,LAC,L (-18),0,1.0,2.0,0.5,2.0,PJ Tucker
4,5,5.0,2016-11-04,31-181,NaN,POR,W (+3),0,0.0,1.0,0.0,2.0,PJ Tucker

In [382]:
#STEP 1 Read in CSV - Serge Ibaka
ibaka_df = pd.read_csv("Reg_Serge_Ibaka_2016-2017.csv")

# STEP 2 - Delete unwanted columns
ibaka_df = ibaka_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
ibaka_df = ibaka_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
ibaka_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested..
ibaka_df['Date2'] = ibaka_df['Date'].shift(+1)
ibaka_df['Time Rested'] = (ibaka_df['Date'] - ibaka_df['Date2']).dt.days
ibaka_df = ibaka_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
ibaka_df['Name'] = "Serge Ibaka"

ibaka_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,27-038,NaN,MIA,L (-12),1,2.0,4.0,0.500,NaN,Serge Ibaka
1,2,2.0,2016-10-28,27-040,@,DET,L (-26),1,0.0,0.0,NaN,2.0,Serge Ibaka
2,3,3.0,2016-10-31,27-041,@,CLE,L (-6),1,0.0,0.0,NaN,3.0,Serge Ibaka
3,4,4.0,2016-11-02,27-044,@,PHI,W (+2),1,1.0,2.0,0.500,2.0,Serge Ibaka
4,5,5.0,2016-11-04,27-046,NaN,SAC,W (+8),1,1.0,6.0,0.167,2.0,Serge Ibaka

In [384]:
#STEP 1 Read in CSV - Terrence Ross
ross_df = pd.read_csv("Reg_Terrence_Ross_2016-2017.csv")

# STEP 2 - Delete unwanted columns
ross_df = ross_df.drop(columns= ['FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm'])

# Edit the headings
ross_df = ross_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})

# STEP 3 - Convert Date to pandas Datetime format
ross_df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# STEP - 4 Calculating the days rested...
ross_df['Date2'] = ross_df['Date'].shift(+1)
ross_df['Time Rested'] = (ross_df['Date'] - ross_df['Date2']).dt.days
ross_df = ross_df.drop(columns=['Date2'])

# STEP 5 - Add Player 
ross_df['Name'] = "Terrence Ross"

ross_df.head()

,Rk,G,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Time Rested,Name
0,1,1.0,2016-10-26,25-264,NaN,DET,W (+18),0,0.0,1.0,0.000,NaN,Terrence Ross
1,2,2.0,2016-10-28,25-266,NaN,CLE,L (-3),0,0.0,1.0,0.000,2.0,Terrence Ross
2,3,3.0,2016-10-31,25-269,NaN,DEN,W (+3),0,1.0,3.0,0.333,3.0,Terrence Ross
3,4,4.0,2016-11-02,25-271,@,WAS,W (+10),0,2.0,3.0,0.667,2.0,Terrence Ross
4,5,5.0,2016-11-04,25-273,NaN,MIA,W (+9),0,3.0,7.0,0.429,2.0,Terrence Ross

In [321]:
# Merge two dataframes using an outer join
#raptors1617_df = pd.merge(carroll_df,wright_df, on="Date", how ="outer")
#raptors1617_df = pd.merge(raptors)
  
#raptors1617_df

,Rk_x,G_x,Date,Age_x,Home vs Away_x,Opp_x,Win/Loss by:_x,GS_x,3P_x,3PA_x,...,Age_y,Home vs Away_y,Opp_y,Win/Loss by:_y,GS_y,3P_y,3PA_y,3P%_y,Time Rested_y,Name_y
0,1,1.0,2016-10-26,30-091,NaN,DET,W (+18),1,2.0,6.0,...,24-183,NaN,DET,W (+18),Inactive,NaN,NaN,NaN,NaN,Delon Wright
1,2,2.0,2016-10-28,30-093,NaN,CLE,L (-3),1,2.0,4.0,...,24-185,NaN,CLE,L (-3),Inactive,NaN,NaN,NaN,2.0,Delon Wright
2,3,3.0,2016-10-31,30-096,NaN,DEN,W (+3),1,2.0,5.0,...,24-188,NaN,DEN,W (+3),Inactive,NaN,NaN,NaN,3.0,Delon Wright
3,4,4.0,2016-11-02,30-098,@,WAS,W (+10),1,1.0,5.0,...,24-190,@,WAS,W (+10),Inactive,NaN,NaN,NaN,2.0,Delon Wright
4,5,5.0,2016-11-04,30-100,NaN,MIA,W (+9),1,0.0,1.0,...,24-192,NaN,MIA,W (+9),Inactive,NaN,NaN,NaN,2.0,Delon Wright
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,6,6.0,2017-04-27,30-274,@,MIL,W (+3),1,2.0,3.0,...,25-001,@,MIL,W (+3),0,0.0,0.0,NaN,3.0,Delon Wright
88,7,7.0,2017-05-01,30-278,@,CLE,L (-11),1,1.0,1.0,...,25-005,@,CLE,L (-11),0,0.0,0.0,NaN,4.0,Delon Wright
89,8,8.0,2017-05-03,30-280,@,CLE,L (-22),0,0.0,4.0,...,25-007,@,CLE,L (-22),0,0.0,1.0,0.0,2.0,Delon Wright
90,9,9.0,2017-05-05,30-282,NaN,CLE,L (-21),0,0.0,0.0,...,25-009,NaN,CLE,L (-21),0,0.0,1.0,0.0,2.0,Delon Wright
91,10,10.0,2017-05-07,30-284,NaN,CLE,L (-7),0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN