In [1]:
import pandas as pd
pd.__version__

'1.0.3'

In [7]:
df = pd.read_csv("Reg_Cory_Joseph_2016-2017.csv")
df.head()

,Rk,G,Date,Age,Tm,,Opp,.1,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,2016-10-26,25-067,TOR,NaN,DET,W (+18),0,21:36,...,2.0,4.0,2.0,1.0,0.0,1.0,1.0,6.0,6.0,12
1,2,2.0,2016-10-28,25-069,TOR,NaN,CLE,L (-3),0,20:43,...,1.0,1.0,1.0,1.0,0.0,3.0,0.0,8.0,3.7,7
2,3,3.0,2016-10-31,25-072,TOR,NaN,DEN,W (+3),0,23:36,...,2.0,3.0,4.0,1.0,0.0,1.0,3.0,6.0,4.5,-6
3,4,4.0,2016-11-02,25-074,TOR,@,WAS,W (+10),0,16:59,...,1.0,1.0,3.0,3.0,0.0,2.0,0.0,4.0,5.4,-1
4,5,5.0,2016-11-04,25-076,TOR,NaN,MIA,W (+9),0,12:47,...,4.0,4.0,3.0,0.0,0.0,1.0,1.0,2.0,1.5,3

In [8]:
df.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', ' ', 'Opp', ' .1', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

In [10]:
df = df.drop(columns=[
    "Rk", "G", '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'
])
df.head()

,Date,Age,Tm,,Opp,.1,GS,MP,FG,FGA,FG%,3P,3PA
0,2016-10-26,25-067,TOR,NaN,DET,W (+18),0,21:36,3.0,6.0,0.500,0.0,0.0
1,2016-10-28,25-069,TOR,NaN,CLE,L (-3),0,20:43,4.0,7.0,0.571,0.0,0.0
2,2016-10-31,25-072,TOR,NaN,DEN,W (+3),0,23:36,3.0,8.0,0.375,0.0,1.0
3,2016-11-02,25-074,TOR,@,WAS,W (+10),0,16:59,2.0,4.0,0.500,0.0,1.0
4,2016-11-04,25-076,TOR,NaN,MIA,W (+9),0,12:47,1.0,4.0,0.250,0.0,2.0

In [11]:
df.dtypes

Date     object
Age      object
Tm       object
         object
Opp      object
 .1      object
GS       object
MP       object
FG      float64
FGA     float64
FG%     float64
3P      float64
3PA     float64
dtype: object

In [17]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")
df.dtypes

Date    datetime64[ns]
Age             object
Tm              object
                object
Opp             object
 .1             object
GS              object
MP              object
FG             float64
FGA            float64
FG%            float64
3P             float64
3PA            float64
dtype: object

In [20]:
df["Date"]

0    2016-10-26
1    2016-10-28
2    2016-10-31
3    2016-11-02
4    2016-11-04
        ...
87   2017-04-27
88   2017-05-01
89   2017-05-03
90   2017-05-05
91   2017-05-07
Name: Date, Length: 92, dtype: datetime64[ns]

In [21]:
df["Date"].dt.year

0     2016
1     2016
2     2016
3     2016
4     2016
      ...
87    2017
88    2017
89    2017
90    2017
91    2017
Name: Date, Length: 92, dtype: int64

In [22]:
df["Date"].dt.month

0     10
1     10
2     10
3     11
4     11
      ..
87     4
88     5
89     5
90     5
91     5
Name: Date, Length: 92, dtype: int64

In [23]:
df["Date"].dt.day

0     26
1     28
2     31
3      2
4      4
      ..
87    27
88     1
89     3
90     5
91     7
Name: Date, Length: 92, dtype: int64

In [24]:
df["Date"].dt.weekday

0     2
1     4
2     0
3     2
4     4
     ..
87    3
88    0
89    2
90    4
91    6
Name: Date, Length: 92, dtype: int64

In [27]:
df["Date"].dt.day_name()

0     Wednesday
1        Friday
2        Monday
3     Wednesday
4        Friday
        ...
87     Thursday
88       Monday
89    Wednesday
90       Friday
91       Sunday
Name: Date, Length: 92, dtype: object

In [28]:
df.head()

,Date,Age,Tm,,Opp,.1,GS,MP,FG,FGA,FG%,3P,3PA
0,2016-10-26,25-067,TOR,NaN,DET,W (+18),0,21:36,3.0,6.0,0.500,0.0,0.0
1,2016-10-28,25-069,TOR,NaN,CLE,L (-3),0,20:43,4.0,7.0,0.571,0.0,0.0
2,2016-10-31,25-072,TOR,NaN,DEN,W (+3),0,23:36,3.0,8.0,0.375,0.0,1.0
3,2016-11-02,25-074,TOR,@,WAS,W (+10),0,16:59,2.0,4.0,0.500,0.0,1.0
4,2016-11-04,25-076,TOR,NaN,MIA,W (+9),0,12:47,1.0,4.0,0.250,0.0,2.0