In [1]:
import pandas as pd
import numpy as np

In [30]:
#Read CSV for Danny Green 

green_df = pd.read_csv("danny green stats .csv")

# delete unwanted colums

green_df = green_df.drop (columns=[
    'FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 
    'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm', 'Rk', 'G'])

# headings
green_df = green_df.rename(columns={"Unnamed: 5":"Home vs Away","Unnamed: 7":"Win/Loss by:"})
green_df['Home vs Away'].fillna("Home", inplace = True)
green_df['Home vs Away'] = green_df['Home vs Away'].replace(to_replace = "@", value = "Away")
# STEP 5 - Add Player 
green_df['Name'] = "Danny Green"
green_df

,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Name
0,2018-10-17,31-117,Home,CLE,W (+12),1,3,7,0.429,Danny Green
1,2018-10-19,31-119,Home,BOS,W (+12),1,4,7,0.571,Danny Green
2,2018-10-20,31-120,Away,WAS,W (+4),1,1,8,0.125,Danny Green
3,2018-10-22,31-122,Home,CHO,W (+21),1,4,6,0.667,Danny Green
4,2018-10-24,31-124,Home,MIN,W (+7),1,2,5,0.4,Danny Green
...,...,...,...,...,...,...,...,...,...,...
102,2019-06-02,31-345,Home,GSW,L (-5),1,2,5,0.4,Danny Green
103,2019-06-05,31-348,Away,GSW,W (+14),1,6,10,0.6,Danny Green
104,2019-06-07,31-350,Away,GSW,W (+13),1,1,7,0.143,Danny Green
105,2019-06-10,31-353,Home,GSW,L (-1),1,0,4,0,Danny Green
106,2019-06-13,31-356,Away,GSW,W (+4),1,0,0,NaN,Danny Green

In [6]:
#Read CSV for Kawai Lenord
leonard_df = pd.read_csv("kawai Lenord stats.csv")

leonard_df = leonard_df.drop (columns=[
    'FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 
    'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm', 'Rk', 'G'])

#  Add Player 
leonard_df['Name'] = "Kawai Leonard"
leonard_df = leonard_df.rename(columns={"Unnamed: 5":"Home vs Away","Unnamed: 7":"Win/Loss by:"})
leonard_df['Home vs Away'].fillna("Home", inplace = True)
leonard_df['Home vs Away'] = leonard_df['Home vs Away'].replace(to_replace = "@", value = "Away")
# headings
leonard_df = leonard_df.rename(columns={" ":"Home vs Away"," .1":"Win/Loss by:"})



leonard_df

,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Name
0,2018-10-17,27-110,Home,CLE,W (+12),1,1.0,3.0,0.333,Kawai Leonard
1,2018-10-19,27-112,Home,BOS,W (+12),1,2.0,5.0,0.400,Kawai Leonard
2,2018-10-20,27-113,Away,WAS,W (+4),Inactive,NaN,NaN,NaN,Kawai Leonard
3,2018-10-22,27-115,Home,CHO,W (+21),1,4.0,7.0,0.571,Kawai Leonard
4,2018-10-24,27-117,Home,MIN,W (+7),1,2.0,4.0,0.500,Kawai Leonard
...,...,...,...,...,...,...,...,...,...,...
101,2019-06-02,27-338,Home,GSW,L (-5),1,2.0,9.0,0.222,Kawai Leonard
102,2019-06-05,27-341,Away,GSW,W (+14),1,2.0,6.0,0.333,Kawai Leonard
103,2019-06-07,27-343,Away,GSW,W (+13),1,5.0,9.0,0.556,Kawai Leonard
104,2019-06-10,27-346,Home,GSW,L (-1),1,2.0,7.0,0.286,Kawai Leonard
105,2019-06-13,27-349,Away,GSW,W (+4),1,1.0,5.0,0.200,Kawai Leonard

In [22]:
#Read CSV for Marc Gasol

gasol_df = pd.read_csv("marc Gasol stats.csv")



gasol_df = gasol_df.drop (columns=[
    'FT', 'FTA', 'FT%', 'ORB','DRB', 'TRB', 'AST', 'STL', 
    'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-','MP', 'FG','FGA','FG%', 'Tm', 'Rk'])
gasol_df['Name'] = "Kawai Leonard"
gasol_df = gasol_df.rename(columns={"Unnamed: 5":"Home vs Away","Unnamed: 7":"Win/Loss by:"})
gasol_df['Home vs Away'].fillna("Home", inplace = True)
gasol_df['Home vs Away'] = gasol_df['Home vs Away'].replace(to_replace = "@", value = "Away")

#Player name 

gasol_df['Name'] = "Marc Gasol"

# Average
gasol_df['3P'].astype(float64)

NameError: name 'float64' is not defined

,Date,Age,Home vs Away,Opp,Win/Loss by:,GS,3P,3PA,3P%,Name,G
0,2018-10-17,31-117,Home,CLE,W (+12),1,3,7,0.429,Danny Green,NaN
1,2018-10-19,31-119,Home,BOS,W (+12),1,4,7,0.571,Danny Green,NaN
2,2018-10-20,31-120,Away,WAS,W (+4),1,1,8,0.125,Danny Green,NaN
3,2018-10-22,31-122,Home,CHO,W (+21),1,4,6,0.667,Danny Green,NaN
4,2018-10-24,31-124,Home,MIN,W (+7),1,2,5,0.4,Danny Green,NaN
...,...,...,...,...,...,...,...,...,...,...,...
101,2019-06-02,34-124,Home,GSW,L (-5),1,0,2,0,Marc Gasol,20
102,2019-06-05,34-127,Away,GSW,W (+14),1,1,4,0.25,Marc Gasol,21
103,2019-06-07,34-129,Away,GSW,W (+13),1,1,4,0.25,Marc Gasol,22
104,2019-06-10,34-132,Home,GSW,L (-1),1,2,3,0.667,Marc Gasol,23
105,2019-06-13,34-135,Away,GSW,W (+4),1,0,2,0,Marc Gasol,24